body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(5, 5, 51, 0.7);
}

a {
  text-decoration: none;
  color: rgba(5, 5, 51, 0.7);
}

a:hover {
  color: #E34234;
}

.h2-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  color: #050533;
}

#bg-load {
  background-color: #050533;
  width: 100%;
  height: 60%;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#bg-load h2 {
  color: #F3E3E2;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}

#loader {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 1;
  width: 150;
  height: 150px;
  margin: -60px 0 0 -60px;
  border: 10px solid #F2F1E8;
  border-radius: 50%;
  border-top: 10px solid #E34234;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#main {
  display: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #050533;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #F2F1E8;
  color: #E34234;
}

/* intro */

#intro {
    background-color: #050533;
}

.bg-text {
  font-weight: bold;
  position: relative;
  padding: 20px;
  text-align: center;
  color: #F3E3E2;
  margin: 0 auto;
}

.bg-text h1 {
  text-transform: uppercase;
}

.bg-text .avatar {
  vertical-align: middle;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.bg-text a {
  width: 150px
}

.bg-text a:hover {
  color: #E34234;
  background-color:#F2F1E8;
}

/* work experiences */

#experience {
  background-color:#FFFFFF;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #050533;
  top: 3%;
  bottom: 17.5%;
  left: 10%;
  margin-left: -3px;
}

.timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 80%;
}

.timeline .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #F2F1E8;
  border: 4px solid #050533;
  top: 10px;
  border-radius: 50%;
  z-index: 1;
}

.right {
  left: 10%;
}

.right::after {
  left: -15px;
}

.content {
  padding: 0 30px;
  position: relative;
  border-radius: 6px;
}

.content h3 {
  margin: 5px 0;
  font-size: 16px;
  color: rgba(5, 5, 51, 0.7);
}

.content p {
  font-size: 0.8em;
  color: rgba(5, 5, 51, 0.6);
}

/* portfolio */

#work {
  background-color: #E34234;
  padding-bottom: 60px;
}

#work .h2-title {
  color: #FFFFFF;
}
  
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.card .container {
  padding: 15px;
}

.card .container h2 {
  color: #E34234;
  letter-spacing: -0.5px;
}

.card .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.card {
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.10);
}

.title {
  color:#050533;
}

.view-btn {
  text-align: center;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  background-color: #E34234;
  text-align: center;
  cursor: pointer;
  width: 175px;
}

.button:hover {
  background-color: #050533;
  color: #FFFFFF;
}

/* contact and skillset */

#contact {
  padding: 30px;
  background-color: #fff;
}

#contact .column {
  float: left;
  width: 50%;
  padding: 10px;
  max-width: 475px;
}

#contact:after {
  content: "";
  display: table;
  clear: both;
}

#contact ul {
  list-style-type: circle;
}

.socialmedia.fab {
  padding: 20px;
  font-size: 18px;
  width: 60px;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px 2px;
  text-align: center;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.socialmedia.fab:hover {
  opacity: 0.7;
}

.fab.fa-facebook-f {
  background: #3B5998;
  color: white;
}

.fab.fa-linkedin-in {
  background: #007bb5;
  color: white;
}

.fab.fa-github {
  background: #000;
  color: white;
}

/* footer */

.footer {
  padding: 10px;
  width: 100%;
  background-color: #050533;
  text-align: center;
  margin: 0 auto;
  color: #F3E3E2;
}

@media screen and (max-width: 1024px) {
  .column {
    width: 50%;
    display: block;
      padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  .h2-title {
    font-size: 26px;
  }

  #contact .column {
      width: 100%;
      max-width: 100%;
  }

  #contact {
    text-align: center;
  }

  #contact ul {
    text-align: left;
    list-style-type: circle;
  }

  .timeline::after {
    left: 31px;
  }

  .right::after {
    left: 16px;
  }

  .timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right {
    left: 0%;
  }
}

@media screen and (max-width: 414px) {
  .bg-text {
    border: none;
  }

  #contact {
      padding: 15px 0;
  }
}


